<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogInAspcoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LogInAspcoreMVC.styles.css" asp-append-version="true" />
    <style>

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        header {
            margin: 2px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15%;
            border-radius: 25px;
            align-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
        }

        .navbar-nav {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            justify-content: center;
        }

        nav {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="SitePanel" asp-controller="User" asp-action="LogOut">Log Out</a>
                            </li>

                            <li class="nav-item">
                                <label class="nav-link" style="color:purple">@User.Identity.Name</label>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="SitePanel" asp-controller="User" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="SitePanel" asp-controller="User" asp-action="Register"> Register </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="SitePanel" asp-controller="User" asp-action="LogIn">LogIn</a>
                            </li>

                        }




                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>

        @RenderBody()

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
